{% extends 'base.html' %}
{% load static %}

{% block title %}Compra tus productos preferidos{% endblock %}

{% block content %}

{% include 'includes/navbar_log_buyer.html' %}

<div class="container">
	<div class="card">
		{% if list_products %}

		<!-- Title -->
		<h1 class="card-text text-center">Compra productos!!</h1>

		<!-- Table Employees -->
		<table class="table table-hover table-responsive align-middle text-center">
			<thead class="table-dark">
				<tr>
					<th scope="col">Nombre del Producto</th>
					<th scope="col">Descripción</th>
					<th scope="col">Precio</th>
					<th scope="col">Foto</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody class="table-light">
				{% for e in list_products %}
				<tr>
					<td>{{ e.name }}</td>
					<td>{{ e.description }}</td>
					<td>{{ e.price }}</td>
					{% if e.photo %}
					<td><img class="img-fluid list-photo-view" src="{{ e.photo.url }}" alt="{{ e.name }}"></td>
					{% else %}
					<td><img class="img-fluid list-photo-view" src="{% static 'img/non_photo.jpg' %}" alt="{{ e.name }}"></td>
					{% endif %}
					<td>
						<form action="{% url 'product_app:buy_product' e.id %}" method="POST">{% csrf_token %}
							{% if e.price < request.user.money %}
							<button type="submit" class="btn btn-outline-danger">Comprar</button>
							{% else %}
							<button disabled class="btn btn-outline-danger">Comprar</button>
							{% endif %}
						</form>
					</td>
					<!--<td><a class="btn btn-light" href="url 'product_app:detail_product_seller' e.id ">Ver</a></td>-->
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Pagination -->
		{% include 'includes/paginator.html' %}

		{% else %}

		<h1 class="card-text text-center">Aún no hay productos disponibles</h1>
		<i class="text-center bi bi-cone-striped"></i>

		{% endif %}
	</div>
</div>

{% endblock %}
