{% extends 'base.html' %}
{% load static %}

{% block title %}Mis productos{% endblock %}

{% block content %}

{% if request.user.user_type == '1' %}

{% include 'includes/navbar_log.html' %}

{% else %}

{% include 'includes/navbar_log_buyer.html' %}

{% endif %}

<div class="container">
	<div class="card">
		<!-- Title -->
		<h1 class="card-text text-center">Mis productos</h1>
		<form method="GET">{% csrf_token %}
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Buscar" id="kword" name="kword">
				<button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
			</div>
		</form>
		{% if seller_list %}
		<!-- Table Employees -->
		<table class="table table-hover table-responsive align-middle text-center">
			<thead class="table-dark">
				<tr>
					<th scope="col">Nombre del Producto</th>
					<th scope="col">Descripción</th>
					<th scope="col">Precio</th>
					<th scope="col">Foto</th>
					{% if request.user.user_type == '1' %}
					<th scope="col">Acciones</th>
					{% endif %}
				</tr>
			</thead>
			<tbody class="table-light">
				{% for e in seller_list %}
				<tr>
					<td>{{ e.name }}</td>
					<td>{{ e.description }}</td>
					<td>${{ e.price }}</td>
					{% if e.photo %}
					<td><img class="img-fluid list-photo-view" src="{{ e.photo.url }}" alt="{{ e.name }}"></td>
					{% else %}
					<td><img class="img-fluid list-photo-view" src="{% static 'img/non_photo.jpg' %}" alt="{{ e.name }}"></td>
					{% endif %}
					{% if request.user.user_type == '1' %}
					<td>
						<a class="btn btn-warning me-3" href="{% url 'product_app:update_product' e.id %}">Editar</a>
						<a class="btn btn-danger" href="{% url 'product_app:delete_product' e.id %}">Eliminar</a>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Pagination -->
		{% include 'includes/paginator.html' %}

		{% else %}

		<h1 class="card-text text-center">No se han encontrado resultados</h1>
		<i class="text-center bi bi-cone-striped"></i>

		{% endif %}

	</div>
</div>

{% endblock %}
